<br/>
<br/>
<h1>Nuestros Voluntarios</h1>

<br/>
<br/>


<%= form_tag volunteers_path, method: :get do %>
    <div class="input-group margin-bottom">
      <%= text_field_tag :name, "#{params[:name]}", { placeholder: 'Filtrar por nombre...', class: 'form-control' } %>
      <span class="input-group-btn">
      <%= submit_tag 'Filtrar', class: 'btn btn-default' %>
    </span>
    </div>
<% end %>

<div class="row">

  <% @volunteers.each do |volunteer| %>
      <div class="col-md-3">
        <div class="card">
          <%= image_tag volunteer.photo.present? ? volunteer.photo_url : 'volunteer_placeholder.png', options={size:"200x210",alt:"Imagen Voluntario",class: "centerImage"}  %>
          <div class="card-block">
            <h3 class="card-title center"><%= volunteer.name %></h3>
            <h5 class="card-subtitle mb-2 text-muted center marginP"><%= volunteer.current_rol %></h5>
            <h6 class="card-subtitle mb-2 text-muted center marginP"><%= volunteer.email %></h6>
            <br/>
            <%= link_to 'Ver detalles', volunteer,html_options={class:"btn btn-primary azulAndar", style:"display: block; margin: auto;"} %>
          </div>
        </div>
        <%= link_to 'Edit', edit_volunteer_path(volunteer) %>
        <%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
  <% end %>
</div>





<%= link_to 'New Volunteer', new_volunteer_path %>
