<p id="notice"><%= notice %></p>

<p>
  <strong>Volunteer:</strong>
  <%= @job.volunteer_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @job.role_id %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @job.initial_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @job.final_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
