<!DOCTYPE html>
<html>
  <head>
    <title>VoluntariosAndar</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <div class="container">
    <div class="row">
      <br>
      <div class="col-md-6">
        <div  class="logo" style="float: left">
            <a href="https://uniandes.edu.co/">
              <%= image_tag 'uniandes.png', size: "200x70", alt: "Logo Uniandes" %>
            </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="logo" style="float: right">
            <a href="https://andar.uniandes.edu.co">
              <%= image_tag 'andar.png', size: "200x75", alt: "Logo ANDAR" %>
            </a>
        </div>
      </div>
    </div>
    <% if notice.present? %>
        <div class="alert alert-info alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <%= fa_icon 'times-circle'%>
          </a>
          <p id="notice"><%= notice %></p>
        </div>
    <% end%>
      <%= yield %>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
